@import "tailwindcss";

@theme {
  --color-midnight: rgb(19, 36, 68);
  --color-cloudy: rgb(132, 148, 160);
  --color-moon: rgb(247, 236, 207);
  --color-rose: rgb(200, 150, 160);
}

body {
  background: rgb(19, 36, 68);
  color: rgb(247, 236, 207);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.mapboxgl-ctrl,
.mapboxgl-ctrl *,
.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-popup,
.mapboxgl-popup * {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif !important;
}

#map-container {
  height: 100%;
  width: 100%;
}

.sidebar {
  background-color: rgba(18, 34, 68, 0.8);
  color: rgb(247, 236, 207);
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 5;
  left: 4;
  margin: 12px;
  border-radius: 4px;
}
